footer{
  color: white;
  background-color: #111715;
}
footer div.wrap{
  display: grid;
  grid-template-columns: 295px auto auto;
  grid-template-rows: 1fr auto auto auto;
  max-width: 1520px;
  margin: 0 auto;
  row-gap: 20px;
}
footer div.wrap div.number{
  grid-column: 1;
  grid-row: 1;
  align-self: center;
  color: #c3c4c4;
}
footer div.wrap div.number p{

  font-family: 'Noto Sans KR', sans-serif;
}
footer div.wrap div.order{
  display: flex;
  grid-column: 2;
  grid-row: 1;
  align-items: center;
  justify-self: flex-start;
  /*! justify-content:  space-evenly; */
  gap: 75px;
}
footer div.wrap div.order a{
  padding-right: 30px;
  position: relative;
  color: #c3c4c4;
  font-family: 'Noto Sans KR', sans-serif;
}
footer div.wrap div.order a:nth-of-type(2){
  
}
footer div.wrap div.order a:nth-of-type(2)::after{
  background-image: url(../img/serach.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 15px;
  height: 15px;
  top: 0px;
  right: -50px;
}
footer div.wrap div.order a::before{
  content: "";
  display: block;
  border-bottom: 1px solid white;
  position: absolute;
  width: 139px;
  height: 17px;
}
footer div.wrap div.order a::after{
  content: "";
  display: block;
  background-image: url(../img/right.svg);
  width: 24px;
  height: 24px;
  position: absolute;
  top: -4px;
  right: -59px;
}
footer div.wrap a.menu{
  grid-column: 3;
  grid-row: 1;
}
footer div.wrap a.menu ul{
  color: white;
  display: flex;
  justify-content: space-around;
  color: #c3c4c4;
}
footer div.wrap a.menu ul div.list{

}
footer div.wrap a.menu ul div.list li{
  line-height: 4;
}
footer div.wrap a.menu ul div.list p{
  line-height: 1.6;
  font-family: 'Noto Sans KR', sans-serif;
}
footer div.wrap address{
  grid-column: 1 / span 3;
  grid-row: 2;
  color: #c3c4c4;
  font-size: 14px;
  font-family: 'Noto Sans KR', sans-serif;
}
footer div.wrap address::before{
  content: "";
  display: block;
  border-top: 1px solid #5d6361;
  padding-bottom: 50px;
}
footer div.wrap p.mail{
  grid-column: 1 / span 3;
  grid-row: 3;
  color: #c3c4c4;
  font-size: 14px;
  font-family: 'Noto Sans KR', sans-serif;
}
footer div.wrap p.copy{
  grid-column: 1 / span 3;
  grid-row: 4;
  color: #c3c4c4;
  font-size: 14px;
  font-family: 'Noto Sans KR', sans-serif;
}
footer .bubu{  
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 80px;
  right: 30px;
  gap: 15px;
}
footer .bubu a{  
  color: white;
  width: 60px;
  height: 60px;
  font-size: 0;
}
footer .bubu a:nth-child(1){  
  background-image: url(../img/bagicon.png);
}
footer .bubu a:nth-child(1):hover{
  background-image: url(../img/bagicon2.png);
}
footer .bubu a:nth-child(2){
  background-image: url(../img/suchicon.png);

}
footer .bubu a:nth-child(2):hover{
  background-image: url(../img/suchicon2.png);
}
footer>a{  
  font-size: 0;
}
footer > a.topFix::before{  
  content: "";
  background-image: url(../img/arrow_upward.svg);
  display: block;
  width: 24px;
  height: 24pc;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 25%;
  left: 25%;
}
footer>a:hover{
  background-color: #145240;
  border-radius: 50%;
  transform: rotate(180deg);
  transform: rotate(360deg);
}
.topFix{  
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: 0.5s;
  color: white;
  width: 50px;
  height: 50px;
  display: block;
  background-color: #acacac;
}