footer{
  color: white;
  background-color: #111715;
}
footer div.wrap{
  display: grid;
  grid-template-columns: 295px auto auto;
  grid-template-rows: 1fr auto auto auto;
  max-width: 1520px;
  margin: 0 auto;
  row-gap: 20px;
}
footer div.wrap div.number{
  grid-column: 1;
  grid-row: 1;
  align-self: center;
}
footer div.wrap div.number p{

}
footer div.wrap div.order{
  display: flex;
  grid-column: 2;
  grid-row: 1;
  align-items: center;
  justify-self: flex-start;
  /*! justify-content:  space-evenly; */
  gap: 75px;
}
footer div.wrap div.order a{
  color: white;
  padding-right: 30px;
  position: relative;
}
footer div.wrap div.order a:nth-of-type(2){
  
}
footer div.wrap div.order a:nth-of-type(2)::after{
  background-image: url(../img/serach.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 15px;
  height: 15px;
  top: 0px;
  right: -50px;
}
footer div.wrap div.order a::before{
  content: "";
  display: block;
  border-bottom: 1px solid white;
  position: absolute;
  width: 139px;
  height: 17px;
}
footer div.wrap div.order a::after{
  content: "";
  display: block;
  background-image: url(../img/right.svg);
  width: 24px;
  height: 24px;
  position: absolute;
  top: -4px;
  right: -59px;
}
footer div.wrap a.menu{
  grid-column: 3;
  grid-row: 1;
}
footer div.wrap a.menu ul{
  color: white;
  display: flex;
  justify-content: space-around;
}
footer div.wrap a.menu ul div.list{

}
footer div.wrap a.menu ul div.list li{
  line-height: 4;
}
footer div.wrap a.menu ul div.list p{

}
footer div.wrap address{
  grid-column: 1 / span 3;
  grid-row: 2;
}
footer div.wrap p.mail{
  grid-column: 1 / span 3;
  grid-row: 3;
}
footer div.wrap p.copy{
  grid-column: 1 / span 3;
  grid-row: 4;
}