header {  
  position: relative;
  position: fixed;
  top: 0;
  width: 100%;
}
header.backgroundC{
  
}
header div.flex {  
  height: 90px;
  /*! justify-content: space-between; */
  align-items: center;
  display: grid;
  grid-template-columns: auto 2fr 0.5fr;
}
header.backgroundC div.flex {
  position: relative;
}
header.backgroundC div.flex::before{
  content: "";
  border-bottom: 1px solid;
  position: absolute;
  display: block;
  width: 100vw;
  bottom: 0;
  left: -51.5px;
  margin: 0 auto;
}
header div.flex h2 {  
  font-size: 0;
  background-image: url(../img/logo_white.png);
  width: 110px;
  height: 22px;
  width: 335px;
  background-repeat: no-repeat;
}
header.backgroundC div.flex h2{
  background-image: url(../img/logo_color.png);
}
header div.flex ul.gnb {  
  /*! width: calc((100% - 110px) / 2); */
  justify-content: space-evenly;
  height: 100%;
}
header div.flex ul.gnb li {  
  height: 100%;
}
header div.flex ul.gnb li a {  
  display: block;
  height: 100%;
  line-height: 90px;
  color: white;
  font-weight: 700;
}
header.backgroundC div.flex ul.gnb li a{
  height: 90px;
  color: #555;
}
header.backgroundC div.flex ul.gnb li a:hover{  
  color: #014444;
}
header div.flex ul.id {  
  /*! width: calc((100% - 110px) / 3); */
  justify-content: space-around;
  align-items: center;
}
header div.flex ul.id li {
  display: flex;
  align-items: center;
}
header div.flex ul.id li a {  
  color: white;
}
header.backgroundC div.flex ul.id li a {  
  color: #555;
}
header div.flex ul.id li:nth-of-type(1) a{  
  display: flex;
  gap: 5px;
  align-items: center;
  font-weight: 700;
}
header div.flex ul.id li:nth-of-type(1) a::before{
  content: "";
  background-image: url(../img/language.svg);
  width: 22px;
  height: 22px;
  display: block;
}
header.backgroundC div.flex ul.id li:nth-of-type(1) a{  
  font-weight: 700;
}
header.backgroundC div.flex ul.id li:nth-of-type(1) a::before{
  content: "";
  background-image: url(../img/language_black.svg);
  display: block;
}
header div.flex ul.id li:nth-of-type(2) a {  
  font-size: 0;
  width: 50px;
  height: 18px;
  display: block;
  position: relative;
}
header div.flex ul.id li:nth-of-type(2) a::before{
  content: "";    
  border-bottom: 3px solid white;
  width: 100%;
  display: block;
  position: absolute;
  bottom: 0px;
}
header div.flex ul.id li:nth-of-type(2) a::after{
  content: "";
  border-bottom: 3px solid white;
  width: 50%;
  display: block;
  position: absolute;
  bottom: 13px;
  right: 0;
}
header.backgroundC div.flex ul.id li:nth-of-type(2) a{
  
}
header.backgroundC div.flex ul.id li:nth-of-type(2) a::before{
  border-bottom: 3px solid #555;
}
header.backgroundC div.flex ul.id li:nth-of-type(2) a::after{
  border-bottom: 3px solid #555;
}
header div.flex ul.id div.join{

}
header div.flex ul.id div.join a{    
  color: white;
  font-family: 'Noto Sans KR', sans-serif;
}
header.backgroundC div.flex ul.id div.join a{
  color: #555;
}
header div.flex ul.id div.join a:not(:last-child){
  border-right: 1px solid;
  padding-right: 5px;
}
header .smenu{
  width: 100%;
  height: 100vh;
  background-color: #0f2318;
  box-sizing: border-box;
  position: absolute;
  top: 0;
}
header .smenu a.close{  
  background-image: url(../img/btn_close.png);
  width: 40px;
  height: 40px;
  position: absolute;
  right: 15px;
  top: 15px;
}
header .smenu .slideMain{  
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 15%;
}
header .smenu ul{
  display: flex;
  justify-content: space-between;
  width: 1080px;
  padding-bottom: 5%;
}
header .smenu ul div.side{
  
}
header .smenu ul div.side li{  
  margin-bottom: 15px;
}
header .smenu ul div.side li a{  
  color: white;
}
header .smenu ul div.side p{
  
  line-height: 2;
}
header .smenu ul div.side p a{  
  color: white;
  font-family: 'Noto Sans KR', sans-serif;
}
header .smenu .slideMain .other{
  display: grid;
  width: 1080px;
  grid-template-columns: 204px auto auto auto;
  position: relative;
  padding-top: 50px;
  box-sizing: border-box;
  /*! column-gap: 20px; */
}
header .smenu .slideMain .other::before{
  content: "";
  border-top: 1px solid white;
  display: block;
  width: 100%;
  position: absolute;
}
header .smenu .slideMain .other p.call{
  color: #b0b4b2;
}
header .smenu .slideMain .other p.oo{  
  color: #838b87;
}
header .smenu .slideMain .other a.bo{  
  color: #b0b4b2;
  position: relative;
}
header .smenu .slideMain .other a.bo:nth-of-type(2){
  
}
header .smenu .slideMain .other a.bo:nth-of-type(2)::after{
  content: "";
  display: block;
  position: absolute;
  background-image: url(../img/serach.png);
  width: 15px;
  height: 15px;
  right: 44px;
  top: 1px;
  background-repeat: no-repeat;
  background-size: cover;
}
header .smenu .slideMain .other a.bo::before{
  content: "";
  border-bottom: 1px solid;
  display: block;
  width: 190px;
  height: 20px;
  position: absolute;
}
header .smenu .slideMain .other a.bo::after{
  content: "";
  display: block;
  position: absolute;
  background-image: url(../img/right.svg);
  width: 24px;
  height: 24px;
  right: 34px;
  top: -3px;
}
header .sub2{  
  background-color: white;
  height: 210px;
}
header.backgroundC .sub2 {
  /*! border-top: 1px solid; */
}
header .subMenu2{
  display: grid;
  grid-template-columns: 384.5px 1172px 344.5px;
  padding: 54px 0;
}
header .subMenu2 .in{
  grid-column: 2;
  /*! display: flex; */
  /*! justify-content: space-evenly; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
header .subMenu2 .in ul{  
  justify-self: center;
  text-align: center;
}
header .subMenu2 .in ul:nth-of-type(1){  
  justify-self: end;
}
header .subMenu2 .in ul:nth-of-type(2){  
  transform: translateX(27px);
}
header .subMenu2 .in ul:nth-of-type(3){  
  grid-column: 4;
  transform: translateX(-12px);
}
header .subMenu2 .in ul li{  
  line-height: 1.6;
}
header .subMenu2 .in ul:nth-of-type(1) li{
  
}
header .subMenu2 .in ul:nth-of-type(1) li span{
  display: block;
  padding-bottom: 5px;
}
header .subMenu2 .in ul li a{ 
  color: #7f7f7f;
  font-family: 'Noto Sans KR', sans-serif;
}
.show{
  display: block;
}
.backgroundC{
  background-color: white;
}