@media screen and (max-width:768px){
  .vh100{
    height: inherit;
  }
  body{    
  }
/*  header  */
  header div.flex{    
  grid-template-columns: 50% 50%;
  padding: 0 10px;
  }
  header div.flex h2{   
  width: 77px;
  background-size: contain;
  height: 16px;
  }
  header div.flex ul.gnb{    
  display: none;
  }
  header div.flex ul.id li:nth-of-type(1){
    display: none;
  }
  header div.flex ul.id{    
  grid-column: 2;
  }
  header div.flex ul.id div.join{    
  font-size: 80%;
  }
  header div.flex ul.id li:nth-of-type(2) a{    
  width: 35px;
  }
  header div.flex ul.id li:nth-of-type(2) a::after{    
  border-bottom: 2px solid white;
  bottom: 12px;
  }
  header div.flex ul.id li:nth-of-type(2) a::before{    
  border-bottom: 2px solid white;
  }
  header .smenu{ 
  display: none !important;
  }
/* brand */
  section#brand{
  box-sizing: border-box;
  min-height: inherit;
  padding-top: 50px;
  }
  section#brand div.flex{    
  /*! flex-direction: column; */
  display: grid;
  grid-template-rows: 50% 50%;
  /*! width: 100vw; */
  /*! height: 100vh; */
  }
  section#brand div.flex div.text{   
  grid-row: 1;
  /*! width: 100%; */
  /*! height: 100%; */
  /*! padding: 50px 0; */
  box-sizing: border-box;
  padding: 0 10px;
  }
  section#brand div.flex div.text p.title{
    
  }
  section#brand div.flex div.text h2{    
  font-size: 200%;
  }
  section#brand div.flex div.text p.sub{    
  white-space: pre-wrap;
  margin-bottom: 0;
  padding-bottom: 30px;
  }
  section#brand div.flex div.photo{    
  grid-row: 2;
  /*! height: 100%; */
  width: 100%;
  padding-top: 30px;
  }
  section#brand div.flex div.photo::after{    
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vw;
  /*! width: 360px; */
  object-fit: contain;
  }
/*  products  */
  section#products div.wrap div.product:nth-of-type(3) a img{    
  height: 100%;
  width: auto;
  aspect-ratio: auto;
  }
/*  more  */
  section#more{    
  display: grid;
  grid-template-rows: 225px 225px;
  min-height: inherit;
  }
  section#more div.process{    
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding-left: 20px;
  box-sizing: border-box;
  gap: 13px;
  }
  section#more div.process::before{ 
  background-size: cover;
  background-repeat: no-repeat;
  }
  section#more div.process div.sub{  
  position: initial;
  }
  section#more div.process div.sub h2{   
  font-size: 20px;
  }
  section#more div.process div.sub p{
  font-size: 15px;
  }
  section#more div.process a.viewmore{
  position: initial;
  }
  section#more div.ing{    
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding-left: 20px;
  box-sizing: border-box;
  gap: 13px;
  }
  section#more div.ing::before{    
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  }
  section#more div.ing div.sub{
  position: initial;
  left: 0;
  }
  section#more div.ing div.sub h3{ 
  font-size: 20px;
  }
  section#more div.ing div.sub p{
  font-size: 15px;
  }
  section#more div.ing a.viewmore{
  position: initial;
  }

/*  footer  */
  footer{  
  padding: 0 10px;
  }
  footer div.wrap{  
  flex-direction: column;
  display: flex;
  max-width: inherit;
  width: 100%;
  }
  footer div.wrap div.number{ 
  align-self: auto;
  }
  footer div.wrap div.number p{  
  font-size: 100%;
  line-height: 2;
  }
  footer div.wrap div.number p:nth-of-type(2){
  font-weight: 700;
  font-size: 150%;
  }
  footer div.wrap div.order{
    
  }
  footer div.wrap a.menu{ 
  display: none;
  }
  footer div.wrap address{
  line-height: 1.4;
  font-size: 70%;
  }
  footer div.wrap address::before{
  padding-bottom: 15px;
  }
  footer div.wrap p.mail{
  line-height: 1.4;
  font-size: 70%;
  color: #9a9d9d;
  }
  footer div.wrap p.copy{
  line-height: 1.4;
  font-size: 70%;
  color: #9a9d9d;
  }
  footer .bubu{
    
  }
  footer .bubu a{   
  width: 42px;
  height: 42px;
  background-size: cover;
  }
  footer > a{ 
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  }
  footer > a::before{  
  top: 15%;
  left: 15%;
  }
}